In [7]:
# Dependencies
import pandas as pd
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
month_of_June = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
month_of_June[0:10]

[('2010-06-01', 78.0),
 ('2010-06-02', 76.0),
 ('2010-06-03', 78.0),
 ('2010-06-04', 76.0),
 ('2010-06-05', 77.0),
 ('2010-06-06', 78.0),
 ('2010-06-07', 77.0),
 ('2010-06-08', 78.0),
 ('2010-06-09', 78.0),
 ('2010-06-10', 79.0)]

In [11]:
#  3. Convert the June temperatures to a list.
june_temp = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
type(june_temp)

list

In [12]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_temp = pd.DataFrame(june_temp, columns=["June Temps"])
df_temp.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [13]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_temp.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [14]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December
month_of_Dec = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()
month_of_Dec[0:10]

[('2010-12-01', 76.0),
 ('2010-12-03', 74.0),
 ('2010-12-04', 74.0),
 ('2010-12-06', 64.0),
 ('2010-12-07', 64.0),
 ('2010-12-08', 67.0),
 ('2010-12-09', 77.0),
 ('2010-12-10', 66.0),
 ('2010-12-11', 69.0),
 ('2010-12-12', 68.0)]

In [15]:
# 7. Convert the December temperatures to a list.
dec_temp = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [16]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_temp_dec = pd.DataFrame(dec_temp, columns=["December Temps"])
df_temp_dec.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [17]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_temp_dec.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000